
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>组织机构管理</title>
    <link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
    <link href="~/design/extend/treeGrid.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/layuiadmin/layui/layui.js"></script>
    <script src="~/design/extend/treeGrid.js"></script>
    <script src="~/Scripts/helper.js"></script>
</head>
<body>
    <script>
    //执行渲染\
    var table;
    var renderTable;
    layui.config({
            base: '../design/extend/'
        }).extend({
            treeGrid: 'treeGrid'
        }).use('treeGrid', function () {
        table = layui.table;
        var treeGrid = layui.treeGrid;
        // 渲染表格
        renderTable = function () {
            treeGrid.render({
                    id: 'table'
                    , elem: '#table'
                    , idField: 'Id'
                    , url: '/OrgManage/GetList'
                , cellMinWidth: 120
                , isOpenDefault: true
                    , treeId: 'Id'//树形id字段名称
                    , treeUpId: 'ParentId'//树形父id字段名称
                    , treeShowName: 'Name'//以树形式显示的字段
                    , cols: [[
                    { type: 'numbers' },
                    //{ type: 'checkbox' },
                     { field: 'Name', title: '组织机构名称' },
                     { field: 'Code', title: '代码' },
                     { field: 'Leve', title: '区域级别', templet: function (d) { return GetLeve(d.Leve) } },
                     {
                         width: 400, align: 'center', title: '', templet: function (d) {
                             if ('@ViewBag.add') { var button1 = ' <a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="add">添加子机构</a>' }
                             if ('@ViewBag.edit') { var button2 = ' <a class="layui-btn layui-btn-sm" lay-event="edit">编辑机构</a>' }
                             if ('@ViewBag.del') { var button3 = ' <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除机构及子机构</a>' }
                             return button1 + button2 + button3;
                         }
                     }
                ]],
            });
        }
        renderTable();
        //绑定菜单
        treeGrid.on('tool(table)', function (obj) {
            var data = obj.data;
            if (obj.event === 'add') {
                if (data.Leve == 3) {
                    layer.alert('无法在最底层机构添加子机构', { icon: 2 })
                } else {
                    data.ParentId = null;//标记为添加
                    AjaxHTML('/OrgManage/AddOrEdit', data, function (data) {
                        LayerHtml('添加一个子机构', data);
                    })
                }
            } else if (obj.event === 'edit') {
                AjaxHTML('/OrgManage/AddOrEdit', data, function (data) {
                    
                    LayerHtml('编辑机构', data);
                })
            } else if (obj.event === 'del') {
                layer.confirm('确定要删除该机构以及所有子机构吗？', {
                    btn: ['确定', '取消'] //按钮
                }, function () {
                    if (data.Leve == 0) {
                        layer.alert('无法删除最高级机构', { icon: 2 })
                    } else {
                        AjaxPost('/OrgManage/Del', data, function (data) {
                            if (data) {
                                layer.msg('删除成功', { icon: 1 })
                                Search();
                            }
                        })
                    }
                });
            }
        });
    });
    //刷新
    function Search() {
        renderTable();
    }
    </script>
    <div class="layui-fluid" style="padding: 12px">
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-header">
                    <h3>组织机构管理</h3>
                </div>
                <div class="layui-card-body" style="padding-top:0px">
                    <div class="layui-row">
                        <table id="table" class="layui-table" lay-filter="table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
