@using Oil.Models;
@model Job
<script>
        layui.use(['form'], function () {
            var form = layui.form;
            //监听提交
            form.on('submit(formDemo)', function (data) {
                AjaxPost('/BasicInfo/Save', data.field, function (data) {
                    alert(data)
                    if (data=="true") {
                        layer.closeAll();
                        layer.msg('保存成功', { icon: 1 })
                        Search();
                    }
                })
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });
            form.val("formData", {
                "Name": "@Model.Name",
                "Code": "@Model.Code",
                "Id": "@Model.Id",
                "type": "@ViewBag.type"
            })
            form.render();
        });
</script>
<div style="padding:20px;">
    <form class="layui-form" id="form" lay-filter="formData">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">职位名称</label>
                <div class="layui-input-inline">
                    <input type="tel" name="Name" lay-verify="required" lay-verType="tips" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">职位代码</label>
                <div class="layui-input-inline">
                    <input type="text" name="Code" lay-verify="required" lay-verType="tips" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="hidden" name="Id">
                <input type="hidden" name="type">
                <button class="layui-btn" lay-submit lay-filter="formDemo">保存</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>