
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
    <link href="~/treetable-lay/module/treetable-lay/treetable.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/layuiadmin/layui/layui.js"></script>
    <script src="~/treetable-lay/module/treetable-lay/treetable.js"></script>
    <script src="~/Scripts/helper.js"></script>
</head>
<body>
    <script>
    //执行渲染\
    var table;
    $(function (){
        layui.config({
            base: '../treetable-lay/module/'
        }).extend({
            treetable: 'treetable-lay/treetable'
        }).use('table', function () {
            table = layui.table;
            table.render({
                elem: '#table'
                , url: '/RoleAuthority/GetList' //数据接口
                , limit: 20
                , cols: [[ //表头
                    { field: 'Name', title: '角色名称', sort: true },
                    { field: 'Code', title: '角色代码'},
                    {
                        field: 'Id', title: '', align: 'center', templet: function (d) {
                            var button;
                            button = '<div>'
                            if ('@ViewBag.edit') { button += ' <a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="edit">修改</a>' }
                            if ('@ViewBag.del') { button += ' <a class="layui-btn layui-btn-sm" lay-event="del">删除</a>' }
                            if ('@ViewBag.setAuthority') { button += '<a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="setAuthority">设置权限</a>' }
                            button += '</div> '
                            return button;
                        }
                    }
                    ]]
            });

            //绑定菜单
            table.on('tool(table)', function (obj) {
                var data = obj.data;
                if (obj.event === 'edit') {
                    AjaxHTML('/RoleAuthority/AddOrEdit', data, function (data) {
                        LayerHtml('修改角色', data);
                    })
                }
                else if (obj.event === 'del') {
                    layer.confirm('确定要删除该角色吗？', {
                        btn: ['确定', '取消'] //按钮
                    }, function () {
                        if (data.Leve == 0) {
                            layer.alert('无法删除最高级权限', { icon: 2 })
                        } else {
                            AjaxHTML('/RoleAuthority/Del', data, function (data) {
                                if (data) {
                                    layer.msg('删除成功', { icon: 1 })
                                    Search();
                                }
                            })
                        }
                    });
                }
                else if (obj.event === 'setAuthority') {
                    AjaxHTML('/RoleAuthority/SetAuthority', data, function (data) {
                        LayerHtmlSet('设置权限', data,700,500);
                    })
                }
            });
        });
    })
    //搜索
    function Search() {
        var obj = $("#search").serializeArray()
        table.reload('table', {
            where: { Name: obj[0].value, Code: obj[1].value }
            ,page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    }

    //添加
    function Add() {
        AjaxHTML('/RoleAuthority/AddOrEdit', null, function (data) {
            LayerHtml('添加角色', data);
        })
    }
    </script>
    <div class="layui-fluid" style="padding: 12px">
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-header">
                    <h3>角色权限</h3>
                </div>
                <div class="layui-card-body">
                    <div class="layui-col-md10">
                        <form id="search">
                            <div class="layui-inline">
                                <label class="layui-form-label">角色名称</label>
                                <div class="layui-input-inline" style="width: 150px;">
                                    <input type="text" name="Name" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">角色代码</label>
                                <div class="layui-input-inline" style="width: 150px;">
                                    <input type="text" name="Code" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <button type="button" class="layui-btn" onclick="Search()"><i class="layui-icon layui-icon-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="layui-col-md1 layui-col-md-offset1" style="text-align:center;">
                        @if (ViewBag.add != null)
                        {<button class="layui-btn layui-btn-normal" onclick="Add()"><i class="layui-icon layui-icon-add-1"></i>  </button>}
                    </div>
                    <div class="layui-row">
                        <table id="table" class="layui-hide" lay-filter="table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
